.button {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $blue-haze;
  padding: 0.2rem 1rem;
  cursor: pointer;

  font-size: 1.6rem;

  &.is-small {
    padding: 0 0.4rem;
  }

  &.is-dashed {
    border: 1px dashed $chambray;
    color: $chambray;
  }

  &.is-primary {
    background-color: $color-primary;
    color: $white;

    & .icon i {
      color: $white;
    }

    &.is-dashed {
      background-color: inherit;
      color: $color-primary;
      border-color: $color-primary;
    }

    &.is-outlined {
      background-color: inherit;
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  &.is-icon {
    border: none;
  }

  & span {
    color: inherit;
    padding: 0 0.2rem;
  }
}
