$input-background-color: $athens-gray;
$input-placeholder-color: $chambray;

.control {
  & .input {

    width: 30rem;
    height: 100%;
    padding: 1rem 2rem;
    border: none;
    background-color: $input-background-color;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 300;

    &::placeholder {
      color: $input-placeholder-color;
    }
  }

  & .icon i {
    color: $input-placeholder-color;
  }
}

.select {
  width: 100%;
  padding: 0 1em 0 0;
  border: none;
  margin: 0;
  background-color: transparent;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
