$navbar-background-color: $white;
$navbar-separator-color: $blue-haze;

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 8rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  padding-left: 33.5rem;
  background-color: $navbar-background-color;

  .navbar-end,
  .navbar-start {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }

  .navbar-item {
    display: inline-flex;
    height: 100%;
    color: $chambray;

    &.has-dropdown {
      display: inline-flex;
      align-items: center;
      font-size: 1.8rem;
    }
  }

  .navbar-separated .navbar-item:first-child {
    padding-right: 2rem;
    border-right: 0.2rem solid $navbar-separator-color;
  }

  .navbar-separated .navbar-item:last-child {
    padding-left: 2rem;
    border: none;
  }

  .navbar-separated .navbar-item {
    padding: 0 2rem;
    border-right: 0.2rem solid $navbar-separator-color;
  }

  .profile-image {
    width: 5rem;
    height: inherit;
    height: 5rem;
    margin-right: 1.5rem;
    border-radius: 50%;
  }
}

.sidebar {
  position: absolute;

  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 32rem;
  height: 100vh;
  flex-direction: column;
  padding: 2rem;
  background: transparent linear-gradient(192deg, #506ef0 0%, #0826aa 100%) 0% 0% no-repeat padding-box;

  border-radius: 0 2.5rem 2.5rem 0;

  .brand {
    display: flex;
    width: 15rem;
    align-self: center;
    margin-top: 2rem;
  }

  .sidebar-nav {
    margin-top: 3.5rem;

    font-size: 2.4rem;
    font-weight: 600;

    .nav-item {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .sub-menu {
      visibility: hidden;
    }

    i {
      margin-right: 1rem;
      font-size: 3rem;
      font-weight: 500;
    }

    a,
    i {
      color: white;
    }
  }
}
