.stepper {
  display: flex;
  width: 100%;
  justify-content: space-around;

  & .stepper-item {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:not(:last-child)::before {
      position: absolute;
      top: 25%;
      width: 50%; // make it 100% width so that it won't let any gap to be rendered in the ui
      height: 3px;
      border-top: 1px dotted $color-primary;
      content: '';
      transform: translateX(100%);
    }

    &.is-active,
    &.is-checked {
      cursor: default;
      font-weight: bold;
    }

    &.is-active {
      & .stepper-item-badge {
        border: 4px solid $white;
        background-color: $color-primary;
        box-shadow: 0 0 0 2px $color-primary;
        color: $white;
      }
    }

    &.is-checked {
      & .stepper-item-badge {
        border: 8px solid lighten($color-primary, 26%);
        background-color: $color-primary;
        color: $white;

        & i {
          color: $white;
        }
      }
    }

    & .stepper-item-badge {
      display: inline-flex;
      width: 4.4rem;
      height: 4.4rem;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 50%;
      line-height: 4.4rem;
      text-align: center;
    }

    & .stepper-item-label {
      margin-top: 0.9rem;
    }
  }
}
