.tag {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;

  &.is-small {
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 1.3rem;
  }

  &.is-medium {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &.is-large {
    padding: 1rem 2rem;
    font-size: 2.3rem;
    font-weight: 700;
  }

  &.is-rounded {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;

    &.is-small {
      width: 1rem;
      height: 1rem;
    }

    &.is-medium {
      width: 2.5rem;
      height: 2.5rem;
    }

    &.is-large {
      width: 5rem;
      height: 5rem;
    }
  }

  &.is-red {
    background-color: rgba($radical-red, 0.2);
    color: $radical-red;

    & i {
      color: inherit;
    }
  }

  &.is-orange {
    background-color: rgba($orange, 0.2);
    color: $orange;

    & i {
      color: inherit;
    }
  }

  &.is-blue {
    background-color: rgba($dodger-blue, 0.2);
    color: $dodger-blue;

    & i {
      color: inherit;
    }
  }

  &.is-dark-blue {
    background-color: rgba($corn-flower-blue, 0.2);
    color: $corn-flower-blue;

    & i {
      color: inherit;
    }
  }
}
