.tag {
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;

    &.is-small {
        font-size: 1.3rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.25rem;
    }
    &.is-medium {
        font-size: 1.6rem;
        font-weight: 700;
    }
    &.is-large {
        font-size: 2.3rem;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    &.is-rounded {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;

        i {
            position: absolute;
            top: 1.2rem;
            left: 1.4rem;
        }
    }
    &.is-red {
        color: $radical-red;
        background-color: rgba($radical-red, 0.2);
        & i {
            color: inherit;
        }
    }
    &.is-orange {
        color: $orange;
        background-color: rgba($orange, 0.2);
        & i {
            color: inherit;
        }
    }
    &.is-blue {
        color: $dodger-blue;
        background-color: rgba($dodger-blue, 0.2);
        & i {
            color: inherit;
        }
    }
}