.tag {
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;

    &.is-small {
        font-size: 1.3rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.25rem;
    }
    &.is-medium {
        font-size: 1.6rem;
        font-weight: 700;
    }
    &.is-large {
        font-size: 2.3rem;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    &.is-rounded {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 50%;

        &.is-small {
            width: 1rem;
            height: 1rem;
        }
        &.is-medium {
            width: 2.5rem;
            height: 2.5rem;
        }
        &.is-large {
            width: 5rem;
            height: 5rem;
        }
    }
    &.is-red {
        color: $radical-red;
        background-color: rgba($radical-red, 0.2);
        & i {
            color: inherit;
        }
    }
    &.is-orange {
        color: $orange;
        background-color: rgba($orange, 0.2);
        & i {
            color: inherit;
        }
    }
    &.is-blue {
        color: $dodger-blue;
        background-color: rgba($dodger-blue, 0.2);
        & i {
            color: inherit;
        }
    }
    &.is-dark-blue {
        color: $corn-flower-blue;
        background-color: rgba($corn-flower-blue, 0.2);
        & i {
            color: inherit;
        }
    }
}