<aside class="sidebar">
  <img class="brand" src="images/logo.png" alt="Furniture Logo">
  <nav class="sidebar-nav">
    <ul class="nav-items">
      <li class="nav-item is-active">
        <i class="ri-dashboard-line"></i>
        <a href="" class="nav-link">Dashboard</a>
      </li>

      <li class="nav-item is-collapse" data-target=".sub-menu" data-activator="button" data-arrow=".is-arrow">
        <a class="button is-link">
          <span>
            <span class="icon is-large">
              <i class="ri-money-euro-circle-line"></i>
            </span>
            <span>Gestion des ventes</span>
          </span>
          <span class="icon is-arrow">
            <i class="ri-arrow-drop-right-line"></i>
          </span>
        </a>
        
        <ul class="sub-menu is-hidden">
          <li>
            <a href="" class="sub-item">Commandes clients</a>
          </li>
          <li>
            <a href="" class="sub-item">Devis</a>
          </li>
          <li>
            <a href="" class="sub-item">Avoirs</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
