<aside class="sidebar">
  <img class="brand" src="/static/logo.png" alt="Furniture Logo">
  <nav class="sidebar-nav">
    <ul class="nav-items">
      <li class="nav-item">
        <i class="ri-dashboard-line"></i>
        <a href="" class="nav-link">Dashboard</a>
      </li>

      <li class="nav-item">
        <i class="ri-money-euro-circle-line"></i>
        <a href="">Gestion des ventes</a>
        <ul class="sub-menu">
          <li>
            <a href="" class="sub-item">Commandes clients</a>
          </li>
          <li>
            <a href="" class="sub-item">Devis</a>
          </li>
          <li>
            <a href="" class="sub-item">Avoirs</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
