.card-content.is-hidden {
  overflow: hidden;
  height: 0;
  margin: 0 !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.tippy-box[data-theme~="light-tooltip"] {
  border: 0.1rem solid $border-gray;
  background: $white;
  color: $dark-blue;
}

.tippy-box[data-theme~="light-tooltip"] > .tippy-svg-arrow > svg:first-child {
  fill: $border-gray;
}

.tippy-box[data-theme~="light-tooltip"] > .tippy-svg-arrow > svg:last-child {
  fill: $white;
}
