.mb-2 {
  margin-bottom: 2rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.tippy-box[data-theme~="tooltip"] {
  border: 0.1rem solid;
  @include themed() {
    border-color: t($input-color);
    background: t($forward-background);
    color: t($text);
  }
}

.tippy-box[data-theme~="tooltip"] > .tippy-svg-arrow > svg:first-child {
  @include themed() {
    fill: t($input-color);
  }
}

.tippy-box[data-theme~="tooltip"] > .tippy-svg-arrow > svg:last-child {
  @include themed() {
    fill: t($forward-background);
  }
}

.is-hidden-tablet {
  @include respond-until(lg) {
    display: none !important;
  }
}
.is-hidden-mobile {
  @include respond-until(s) {
    display: none !important;
  }
}
.is-hidden-small-tablet {
  @include respond-until(m) {
    display: none !important;
  }
}
.is-mobile-only {
  display: none !important;

  @include respond-until(s) {
    display: block !important;
  }
}
