$white: #fff;
$light-gray: #eff0f3;
$gray: #7f8394;
$light-blue: #49b8ff;
$blue: #506ef0;
$dark-blue: #364481;
$red: #f62b50;
$orange: #ff8c56;
$green: #1ee298;

$color-primary: $blue;

$transition-time: 0.5s;
