.button {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid $blue-haze;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.6rem;

  &.is-small {
    padding: 0 0.4rem;
  }

  &.is-dashed {
    border: 1px dashed $chambray;
    color: $chambray;
  }

  &.is-primary {
    background-color: $color-primary;
    color: $white;

    .icon i {
      color: $white;
    }

    &.is-dashed {
      border-color: $color-primary;
      background-color: inherit;
      color: $color-primary;
    }

    &.is-outlined {
      border-color: $color-primary;
      background-color: inherit;
      color: $color-primary;
    }
  }

  &.is-icon {
    border: 0;
    padding: 0;
  }

  &.is-link {
    padding: 0;
    border: 0;
    background: none;
  }

  span {
    color: inherit;
  }
}
