.button {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;

  &.is-small {
    padding: 0 0.4rem;
  }

  &.is-primary {
    background-color: $color-primary;
    color: $white;
  }
  &.is-primary .icon i {
    color: $white;
  }

  &.is-dashed {
    border: 1px dashed;
    @include themed() {
      border-color: t($button-dashed);
      color: t($button-dashed);
    }
  }
  &.is-dashed .icon i {
    @include themed() {
      color: t($button-dashed);
    }
  }
  &.is-outlined {
    border: 1px solid;
    @include themed() {
      border-color: t($input-color);
      color: t($text);
    }
  }
  &.is-dashed,
  &.is-outlined {
    background-color: transparent;
  }
  &.is-dashed .icon i,
  &.is-outlined .icon i {
    color: inherit;
  }

  &.is-light.is-primary {
    background-color: rgba($color-primary, 0.3);
    color: $color-primary;
    font-weight: 600;
  }
  &.is-light.is-primary i {
    color: inherit;
  }
  &.is-primary.is-translucent .icon i {
    color: $color-primary;
  }

  .icon {
    padding: 0;
  }

  &.is-icon {
    padding: 0;
    border: 0;
  }

  &.is-link {
    padding: 0;
    border: 0;
    background: none;
  }

  span:last-child {
    margin-left: 0.5rem;
  }
}
