.control {
  &.has-icon-right .icon {
    position: relative;
    z-index: 100;
    margin-left: -3.5rem;
  }
  &.has-icon-left {
    position: relative;
  }
  &.is-fullwidth .input {
    width: 100%;
  }

  .icon {
    @include themed() {
      color: t($text);
    }
  }
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  @include themed() {
    color: t($text);
  }

  &.has-icon-right i {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    vertical-align: middle;
  }
}

.is-file {
  position: relative;
  display: inline-block;
  height: 4rem;
  padding: 1rem !important;

  .input[type="file"] {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}

.input,
.select select {
  @include themed() {
    border: 0.1rem solid t($input-color);
    background-color: t($forward-background);
    color: t($input-color);
  }
}

.input {
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 300;
  outline: 0;

  &::placeholder {
    font-weight: 400;
    opacity: 1;
    @include themed() {
      color: t($text);
    }
  }
}

.search {
  height: 100%;
  border: 0 !important;
  @include themed() {
    background-color: t($background);
  }
  @include respond-until(xs) {
    width: 15rem;
  }
  @include respond-from(xs) {
    width: 20rem;
  }
  @include respond-from(m) {
    width: 30rem;
  }
}

.icon i {
  @include themed() {
    color: t($text);
  }
}

.select select {
  position: relative;
  width: 30rem;
  padding: 1rem 0.5rem;
  appearance: none;
  border-radius: 0.5rem;
}

.is-color {
  padding: 1rem;
  cursor: pointer;
  outline: none;
  text-align: start;
  @include themed() {
    background-color: t($forward-background);
    color: t($input-color);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 1.5rem;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3.4rem;
  cursor: pointer;
  transition: 0.4s;
  @include themed() {
    background-color: t($background);
  }

  &::before {
    position: absolute;
    bottom: 0.15rem;
    left: 0.1rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $white;
    border-radius: 50%;
    content: "";
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: $green;

  &::before {
    transform: translateX(1.7rem);
  }
}

input:focus + .slider {
  box-shadow: 0 0 0.1rem $green;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 3rem;
  cursor: pointer;
  user-select: none;
  @include themed() {
    color: t($text);
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;
  }
  input:checked ~ .checkmark {
    border: 0;
    background-color: $blue;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.15rem;
  @include themed() {
    border: 0.2rem solid t($text);
    background-color: t($forward-background);
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
  }
}
.container input:checked ~ .checkmark::after {
  display: block;
}
.container .checkmark::after {
  top: 0.3rem;
  left: 0.7rem;
  width: 0.7rem;
  height: 1rem;
  transform: rotate(45deg);
  @include themed() {
    border: 0.1rem solid t($forward-background);
    border-width: 0 0.2rem 0.2rem 0;
  }
}

.radio {
  position: relative;
  display: block;
  padding-left: 3rem;
  cursor: pointer;
  user-select: none;
  @include themed() {
    color: t($text);
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;
  }
  input:checked ~ .inner-radio {
    border: 0;
    background-color: $blue;
  }
}

.inner-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  @include themed() {
    border: 0.2rem solid t($text);
    background-color: t($forward-background);
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
  }
}
.container input:checked ~ .inner-radio::after {
  display: block;
}
.container .inner-radio::after {
  top: 0.2rem;
  right: 0.2rem;
  width: 80%;
  height: 80%;
  background-color: $blue;
  border-radius: 5rem;

  @include themed() {
    border: 0.3rem solid t($forward-background);
  }
}

.has-icon-left {
  .input {
    padding-left: 4rem !important;
  }
  .icon {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
  }
}
