<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main class="container">
      <div class="mb-2">
        <h1 class="title is-1">Bouttons normal</h1>
        <a class="button is-primary">Primary</a>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Buttons outlined/dashed</h1>
        <div class="row">
          <a class="button is-outlined">Outlined</a>
          <a class="button is-dashed">Dashed</a>
        </div>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Buttons light</h1>
        <a class="button is-light is-primary">Light primary</a>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Buttons with icons</h1>
        <div class="row">
          <a class="button is-primary">
            <span class="icon is-small">
              <i class="ri-add-line"></i>
            </span>
            <span> Primary with icon </span>
          </a>
          <a class="button is-outlined is-primary">
            <span> Primary with icon </span>
            <span class="icon is-small">
              <i class="ri-add-line"></i>
            </span>
          </a>
          <a class="button is-dashed">
            <span class="icon is-small">
              <i class="ri-add-line"></i>
            </span>
            <span> Primary with icon </span>
          </a>
          <a class="button is-light is-primary">
            <span class="icon is-small">
              <i class="ri-add-line"></i>
            </span>
            <span> Primary with icon </span>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
