<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main class="container">
      <div class="mb-2">
        <a href="#" class="button"><span>Bouton simple</span></a>
        <a href="#" class="button is-dashed"><span>Bouton dashed</span></a>
        <a href="#" class="button is-small"><span>Bouton Small</span></a>
      </div>
      <div class="mb-2">
        <a href="#" class="button is-primary"><span>Bouton primary</span></a>
        <a href="#" class="button is-primary is-outlined"
          ><span>Bouton outlined</span></a
        >
        <a href="#" class="button is-primary is-dashed"
          ><span>Bouton dashed</span></a
        >
      </div>
      <div class="mb-2">
        <a href="#" class="button">
          <span class="icon is-small"><i class="ri-add-line"></i></span>
          <span>Bouton simple</span>
        </a>
        <a href="#" class="button is-dashed">
          <span class="icon is-small"><i class="ri-add-line"></i></span>
          <span>Bouton dasched</span>
        </a>
        <a href="#" class="button is-primary">
          <span class="icon is-small"><i class="ri-add-line"></i></span>
          <span>Bouton primary</span>
        </a>
        <a href="#" class="button is-primary is-outlined">
          <span class="icon is-small"><i class="ri-add-line"></i></span>
          <span>Bouton primary outlined</span>
        </a>
      </div>
    </main>
  </body>
</html>
