<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main class="container">
      <div class="inline-text mb-2">
        <h1 class="title is-1">Cards</h1>
        <span>
          <span class="icon is-small">
            <i class="ri-save-2-line"></i>
          </span>
          Il y a 30 secondes
        </span>
      </div>
      <div class="row">
        <div class="card is-jumbo is-blue is-overflow">
          <div class="card-content">
            <h3 class="title is-jumbo is-thin">Bienvenue</h3>
            <h3 class="title is-jumbo">Jon !</h3>
            <span class="illustration is-absolute is-right is-top">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 86.629 169.784"
              >
                <defs />
                <path
                  fill="#fff"
                  d="M41.594 4.42C18.623 4.42 0 16.793 0 32.056c0 6.815 3.715 13.052 9.87 17.871v20.057l13.185-13.185a59.164 59.164 0 0018.539 2.892c22.972 0 41.594-12.373 41.594-27.636S64.566 4.42 41.594 4.42z"
                  data-name="Tracé 654"
                />
                <path
                  fill="none"
                  stroke="#3f3d56"
                  stroke-miterlimit="10"
                  d="M44.534.5C21.563.5 2.94 12.873 2.94 28.136c0 6.815 3.715 13.052 9.87 17.871v20.057l13.185-13.185a59.164 59.164 0 0018.539 2.892c22.972 0 41.594-12.373 41.594-27.636S67.506.5 44.534.5z"
                  data-name="Tracé 655"
                />
                <path
                  fill="#e3b2b9"
                  d="M26.461 72.009s-.837-11.268-.443-13.328.764-7.927-1.4-6-1.4 6.3-1.4 6.3-2.055 11.908-.154 13.524 3.397-.496 3.397-.496z"
                  data-name="Tracé 656"
                />
                <path
                  fill="#2d3136"
                  d="M28.021 83.149s-6.447-5.75-6.1-10.629c0 0 3.833-2.962 4.7-1.394s7.2 7.686 6.128 9.767-4.728 2.256-4.728 2.256z"
                  data-name="Tracé 657"
                />
                <path
                  fill="#e3b2b9"
                  d="M50.847 72.871s3.833-10.629 4.007-12.719 1.394-7.841 2.962-5.4-.349 6.447-.349 6.447-1.22 12.023-3.485 13.068-3.135-1.396-3.135-1.396z"
                  data-name="Tracé 658"
                />
                <path
                  fill="#e3b2b9"
                  d="M40.392 126.188h10.28l.523 5.227-2.439.523s-5.75-1.742-9.06-1.219.696-4.531.696-4.531z"
                  data-name="Tracé 659"
                />
                <path
                  fill="#364481"
                  d="M47.188 125.491s4.879-3.311 5.75-.523 4.007 12.894 2.962 13.939-2.265-.871-2.265-.871-2.091-4.356-3.659-4.53a3.632 3.632 0 01-2.439-1.568s4.53-3.485-.349-6.447z"
                  data-name="Tracé 660"
                />
                <path
                  fill="#e3b2b9"
                  d="M37.779 152.499s1.917 7.841 1.568 9.06 5.576.523 5.576.523l.349-2.265s-3.485-5.576-3.485-8.015-4.008.697-4.008.697z"
                  data-name="Tracé 661"
                />
                <path
                  fill="#364481"
                  d="M44.922 158.248s4.7 3.485 2.265 5.227-11.5 6.273-11.5 6.273-3.311.523-.871-2.439 3.136-3.485 3.311-5.053a7.649 7.649 0 011.074-2.942s2.411 4.861 5.721-1.066z"
                  data-name="Tracé 662"
                />
                <path
                  fill="#364481"
                  d="M30.635 116.431s-1.917 18.121 1.045 23.871 6.447 13.591 6.273 13.939 5.053-.523 5.053-2.091-5.75-17.25-5.75-17.25 2.439-20.386 4.356-21.78-10.977 3.311-10.977 3.311z"
                  data-name="Tracé 663"
                />
                <path
                  style="isolation: isolate"
                  d="M30.635 116.431s-1.917 18.121 1.045 23.871 6.447 13.591 6.273 13.939 5.053-.523 5.053-2.091-5.75-17.25-5.75-17.25 2.439-20.386 4.356-21.78-10.977 3.311-10.977 3.311z"
                  data-name="Tracé 664"
                  opacity=".1"
                />
                <path
                  fill="#364481"
                  d="M34.576 65.292a4.312 4.312 0 00-3.1 2.078c-.578 1.09-.615 2.547-1.534 3.33a12.766 12.766 0 01-1.906.942 2.936 2.936 0 00-1.35 2.615c.049.961.556 1.857.545 2.819a5.168 5.168 0 01-1.695 3.195l2.7.5a2.684 2.684 0 001.249.033c.466-.138.845-.522 1.316-.639a2.714 2.714 0 011.948.608 42.2 42.2 0 005.391 2.6 2.119 2.119 0 001.684.212c.43-.2.7-.667 1.1-.921.724-.453 1.634-.112 2.448.112a8.091 8.091 0 005.528-.471c-.373-.436-.862-.74-1.263-1.145a1.849 1.849 0 01-.621-1.557c.108-.589.615-.982.96-1.457a3.425 3.425 0 00.521-2.6 4.739 4.739 0 00-1.243-2.352 12.376 12.376 0 01-1.017-1.072 7.346 7.346 0 01-1-3.062 4.632 4.632 0 00-1.348-2.858c-1.314-1.037-3.447-.684-4.983-.787a65.236 65.236 0 00-4.33-.123z"
                  data-name="Tracé 665"
                />
                <path
                  fill="#364481"
                  d="M25.93 104.06l3.311 8.189s-15.159 16.553-6.624 18.818 11.5-1.742 16.9 1.394c0 0 2.614-4.008 2.265-6.447 0 0-7.492-1.394-11.5-1.22 0 0 10.8-9.409 11.848-9.757s4.53-5.924-.871-10.454-4.007-6.97-4.007-6.97z"
                  data-name="Tracé 666"
                />
                <path
                  fill="#e3b2b9"
                  d="M33.771 75.659s.523 5.4-1.742 6.1 8.886.523 8.886.523a3.93 3.93 0 01-1.394-4.879c1.223-3.312-5.75-1.744-5.75-1.744z"
                  data-name="Tracé 667"
                />
                <path
                  style="isolation: isolate"
                  d="M33.771 75.659s.523 5.4-1.742 6.1 8.886.523 8.886.523a3.93 3.93 0 01-1.394-4.879c1.223-3.312-5.75-1.744-5.75-1.744z"
                  data-name="Tracé 668"
                  opacity=".1"
                />
                <path
                  fill="#2d3136"
                  d="M45.619 85.068s-1.046-5.4-3.136-5.053-6.272.7-6.8 1.045a23.066 23.066 0 01-3.31 1.063s1.045-1.237 0-1.411-4.356.7-4.7 1.394a8.013 8.013 0 00-1.742 4.53c0 2.439-1.046 6.621-.7 8.364a17.032 17.032 0 01-1.22 8.015c-1.046 2.265-.174 4.53 1.568 2.265s.871 0 2.265.174 7.666-6.273 9.409-4.7 3.485 2.614 3.833 1.742-1.394-2.439-1.394-3.136-2.788 2.265.174-3.833.177-7.846 5.753-10.459z"
                  data-name="Tracé 669"
                />
                <path
                  fill="#2d3136"
                  d="M44.226 84.72l1.394.348s5.053-3.659 6.447-6.272 2.439-4.7 2.439-4.7-2.265-2.788-3.659-1.742-7.667 8.189-7.667 8.189z"
                  data-name="Tracé 670"
                />
                <circle
                  cx="5.401"
                  cy="5.401"
                  r="5.401"
                  fill="#e3b2b9"
                  data-name="Ellipse 54"
                  transform="rotate(-80.783 61.855 20.632)"
                />
                <path
                  fill="#364481"
                  d="M33.001 72.352a4.743 4.743 0 013.3-1.085c2.071.127 3.893 1.6 5.967 1.649a2.139 2.139 0 01.178-1.322 2.039 2.039 0 00.38-1.014 1.238 1.238 0 00-.447-.733 7 7 0 00-4.507-1.795c-1.107-.048-3.218-.022-4.077.816-.731.717-.649 2.555-.794 3.484z"
                  data-name="Tracé 671"
                />
                <circle
                  cx="11.324"
                  cy="11.324"
                  r="11.324"
                  fill="#ff8c56"
                  data-name="Ellipse 55"
                  transform="translate(33.21 21.958)"
                />
                <ellipse
                  cx="1.086"
                  cy="1.422"
                  fill="#444053"
                  data-name="Ellipse 56"
                  rx="1.086"
                  ry="1.422"
                  transform="translate(40.681 27.593)"
                />
                <ellipse
                  cx="1.086"
                  cy="1.422"
                  fill="#444053"
                  data-name="Ellipse 57"
                  rx="1.086"
                  ry="1.422"
                  transform="translate(46.293 27.593)"
                />
                <path
                  fill="#3f3d56"
                  d="M51.322 33.489c0 2.042-3.411 5.482-6.853 5.482s-6.724-3.517-6.724-5.56 3.211-.175 6.653-.175 6.924-1.789 6.924.253z"
                  data-name="Tracé 672"
                />
                <path
                  fill="#f6f8fb"
                  d="M38.831 33.838s6.187 1.377 11.385.039c0 0 .636 0 .2.735a1.171 1.171 0 01-.477.446c-1 .512-4.71 2.025-10.641.1a1.166 1.166 0 01-.77-.789c-.068-.257-.038-.496.303-.531z"
                  data-name="Tracé 673"
                />
              </svg>
            </span>
          </div>
        </div>

        <div class="card is-grow">
          <div class="card-header">
            <h2 class="title is-2">Chiffre d'affaire (HT)</h2>
          </div>
          <div class="card-content">
            <div class="row is-spaced-evenly">
              <div class="column">
                <div class="row is-centered">
                  <span class="tag is-medium is-dark-blue">Jours</span>
                </div>
                <div class="row">
                  <h3 class="title is-jumbo is-light">1 896,52 €</h3>
                </div>
              </div>
              <div class="column">
                <div class="row is-centered">
                  <span class="tag is-medium is-dark-blue">Mois</span>
                </div>
                <div class="row">
                  <h3 class="title is-jumbo is-light">25 844,96 €</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Marge (HT)</h2>
          </div>
          <div class="card-content">
            <div class="column">
              <div class="row is-centered">
                <span class="tag is-medium is-dark-blue">Mois</span>
              </div>
              <div class="row is-centered">
                <h3 class="title is-jumbo is-light">14 478,01 €</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Fichiers à valider</h2>
            <button class="button is-primary is-small has-text-transparent">
              <span class="icon is-small">
                <i class="ri-arrow-right-line"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <div class="row is-centered">
              <div class="column">
                <span class="tag is-rounded is-large is-blue">
                  <i class="ri-file-list-line"></i>
                </span>
              </div>
              <div class="column">
                <div class="row no-margin-bottom">
                  <h3 class="title is-large has-no-margin">16</h3>
                </div>
                <div class="row">
                  <p>fichiers à valider</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Marketplace(s)</h2>
            <button class="button is-primary is-small has-text-transparent">
              <span class="icon is-small">
                <i class="ri-arrow-right-line"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <div class="row is-centered">
              <div class="column">
                <span class="tag is-rounded is-large is-red">
                  <i class="ri-star-line"></i>
                </span>
              </div>
              <div class="column">
                <div class="row no-margin-bottom">
                  <h3 class="title is-large has-no-margin">5</h3>
                </div>
                <div class="row">
                  <p>marketplace(s) active(s)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Message(s)</h2>
            <button class="button is-primary is-small has-text-transparent">
              <span class="icon is-small">
                <i class="ri-arrow-right-line"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <div class="row is-centered">
              <div class="column">
                <span class="tag is-rounded is-large is-orange">
                  <i class="ri-mail-line"></i>
                </span>
              </div>
              <div class="column">
                <div class="row no-margin-bottom">
                  <h3 class="title is-large has-no-margin">8</h3>
                </div>
                <div class="row">
                  <p>messages non lus</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="card is-full-width is-collapse"
          data-target=".card-content"
          data-arrow=".icon"
          data-activator="title,is-arrow"
          data-arrow-rotation="left"
        >
          <div class="card-header">
            <span>
              <span class="tag is-medium is-solid is-rounded is-dark-blue mr-1">
                1
              </span>
              <a class="title is-2"> Personnalisez votre interface client </a>
              <span
                class="icon is-small tooltip"
                data-tooltip-content="Cette étape vous permet de mettre à disposition de vos clients, des documents à télécharger et à valider en ligne depuis leurs interfaces."
                data-tooltip-placement="right"
              >
                <i class="ri-error-warning-line"></i>
              </span>
              <span class="is-secondary">(Obligatoire)</span>
            </span>
            <span class="icon is-arrow is-large">
              <i class="ri-arrow-down-s-line"></i>
            </span>
          </div>
          <div class="card-content">
            <h3 class="title is-3">Identité visuelle</h3>
            <p>
              Temporibus autem quibusdam et aut officiis debitis aut rerum
              necessitatibus saepe eveniet ut et voluptates repudiandae sint et
              molestiae non recusandae. Itaque earum rerum hic tenetur a
              sapiente delectus, ut aut reiciendis voluptatibus.
            </p>
          </div>
        </div>
      </div>

      <div class="row is-flex-wrap">
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Master plateforme</h2>
            <span class="tag is-small is-blue">Nouveau</span>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Service exposant</h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Laval Virtual</h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Business France</h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Gie Transports Publics</h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">Côté Maison</h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
