<!DOCTYPE html>
<html lang="en">
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <main class="container">
      <div class="card-container">
        <div class="card is-collapsable">
          <div class="card-header">
            <h2 class="card-header-title">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card is-grow">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
      </div>
      <div class="card-container is-fixed">
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button">En savoir plus</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
