<!DOCTYPE html>
<html lang="en">
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="card is-jumbo">
          <div class="card-content">
            <h3 class="title is-jumbo is-thin">Bienvenue</h3>
            <h3 class="title is-jumbo">Jon !</h3>
          </div>
        </div>

        <div class="card is-grow">
          <div class="card-header">
            <h2 class="title is-2">
              Chiffre d'affaire (HT)
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Marge (HT)
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Fichiers à valider
            </h2>
            <button class="button is-primary is-small">
              <span class="icon is-small">
                <i class="ri-arrow-right-line"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <b>16</b> fichiers à valider
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Marketplace(s)
            </h2>
            <button class="button is-primary is-small">
              <span class="icon is-small">
                <i class="ri-arrow-right-line"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <b>5</b> marketplace(s) active(s)
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Message(s)
            </h2>
            <button class="button is-primary is-small">
              <span class="icon is-small">
                <i class="ri-arrow-right-line"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <b>8</b> messages non lus
          </div>
        </div>
      </div>

      <div class="row is-flex-wrap">
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Master plateforme
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Service exposant
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Laval Virtual
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Business France
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Gie Transports Publics
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2 class="title is-2">
              Côté Maison
            </h2>
          </div>
          <div class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            quos animi velit, est ipsum beatae facere suscipit reiciendis enim
            praesentium perferendis accusamus. Quas neque sequi accusantium ex
            totam sunt itaque!
          </div>
          <div class="card-footer">
            <a href="#" class="button is-primary">Consulter</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
