<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <main class="container">
      <h1 class="title is-1">Form inputs</h1>
      <label class="label has-icon-right">
        Logo impression
        <i class="ri-error-warning-line"></i>
      </label>
      <div class="control has-icon-right mb-2">
        <span class="input is-file">
          <input class="input" type="file" />
          Importer votre logo
        </span>
        <span class="icon is-small">
          <i class="ri-download-line"></i>
        </span>
      </div>

      <label class="label has-icon-right">
        Sélectionnez la page d'arrivée
        <i class="ri-error-warning-line"></i>
      </label>
      <div class="control has-icon-right mb-2">
        <div class="select">
          <select class="select">
            <option value="">One</option>
            <option value="">Two</option>
            <option value="">Three</option>
          </select>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </div>
      </div>

      <label class="label"> Background menu </label>
      <div class="control has-icon-right mb-2">
        <button id="background-color-menu" class="input is-color">
          #FFFFFF
        </button>
        <span class="icon is-small">
          <i class="ri-sip-line"></i>
        </span>
      </div>

      <label class="checkbox mb-2">
        One
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>

      <label class="radio mb-2">
        One
        <input type="radio" name="radio-test" checked="checked" />
        <span class="inner-radio"></span>
      </label>
      <label class="radio mb-2">
        Two
        <input type="radio" name="radio-test" />
        <span class="inner-radio"></span>
      </label>
    </main>
  </body>
</html>
