<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <main class="container">

      <div class="row">
        <div class="card is-full-width is-collapse" data-target=".card-content" data-arrow=".icon" data-activator="title,button" data-arrow-rotation="left">
          <div class="card-header">
            <a class="title is-2">Personnalisez votre interface client</a>
            <a class="button is-icon">
              <span class="icon is-arrow is-large">
                <i class="ri-arrow-down-s-line"></i>
              </span>
            </a>
          </div>
          <div class="card-content">
            <label class="label has-icon-right">
              Logo impression
              <i class="ri-error-warning-line"></i>
            </label>
            <p class="control has-icon-right">
              <span class="input is-file">
                <input class="input" type="file">
                Importer votre logo
              </span>
              <span class="icon is-small">
                <i class="ri-download-line"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
