<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main class="container">
      <ul class="stepper">
        <li class="stepper-item is-checked">
          <span class="stepper-item-badge"><i class="ri-check-line"></i></span>
          <span class="stepper-item-label">Evènement</span>
        </li>
        <li class="stepper-item is-active">
          <span class="stepper-item-badge">2</span>
          <span class="stepper-item-label">Interface</span>
        </li>
        <li class="stepper-item">
          <span class="stepper-item-badge">3</span>
          <span class="stepper-item-label">Contenus</span>
        </li>
        <li class="stepper-item">
          <span class="stepper-item-badge">4</span>
          <span class="stepper-item-label">Catalogue</span>
        </li>
      </ul>
    </main>
  </body>
</html>
