<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main class="container">
      <div class="mb-2">
        <h1 class="title is-1">Small tags</h1>
        <span class="tag is-small is-blue">Nouveau</span>
        <span class="tag is-small is-dark-blue">Nouveau</span>
        <span class="tag is-small is-orange">En cours</span>
        <span class="tag is-small is-red">Terminé</span>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Medium tags</h1>
        <span class="tag is-medium is-blue">Jours</span>
        <span class="tag is-medium is-dark-blue">Heurs</span>
        <span class="tag is-medium is-orange">Mois</span>
        <span class="tag is-medium is-red">Heurs</span>
        <span class="tag is-medium is-rounded is-blue">2</span>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Large tags</h1>
        <span class="tag is-large is-blue">Whoa</span>
        <span class="tag is-large is-dark-blue">Cool</span>
        <span class="tag is-large is-orange">Dude</span>
        <span class="tag is-large is-red">Cool</span>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Rounded tags</h1>
        <span class="tag is-rounded is-large is-blue">
          <i class="ri-file-list-line"></i>
        </span>
        <span class="tag is-rounded is-large is-dark-blue">
          <i class="ri-star-line"></i>
        </span>
        <span class="tag is-rounded is-large is-orange">
          <i class="ri-mail-line"></i>
        </span>
        <span class="tag is-rounded is-large is-red">
          <i class="ri-star-line"></i>
        </span>
      </div>
      <div class="mb-2">
        <h1 class="title is-1">Solid tags</h1>
        <span class="tag is-rounded is-large is-solid is-blue">1</span>
        <span class="tag is-rounded is-large is-solid is-dark-blue">2</span>
        <span class="tag is-rounded is-large is-solid is-orange">3</span>
        <span class="tag is-rounded is-large is-solid is-red">4</span>
        <span class="tag is-large is-solid is-red">Hello</span>
        <span class="tag is-medium is-solid is-blue">Hello</span>
        <span class="tag is-small is-solid is-orange">Hello</span>
      </div>
      <div class="mdb-2">
        <h1 class="title is-1">Message tag</h1>
        <div class="row">
          <span class="message has-tag is-blue">
            <span class="icon is-small">
              <i class="ri-information-fill"></i>
            </span>
            <span>
              Votre fichier comporte des erreurs. Veuillez le corriger dans le
              fichier source et le réimporter.
            </span>
          </span>
        </div>
        <div class="row">
          <span class="message has-tag is-orange">
            <span class="icon is-small">
              <i class="ri-alert-fill"></i>
            </span>
            <span>
              <h3 class="title">Attention !</h3>
              La commande et les commandes fournisseurs associées seront
              annulées.
            </span>
          </span>
        </div>
      </div>
    </main>
  </body>
</html>
