<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <main class="container">
      <span class="tag is-small is-blue">Nouveau</span>
      <span class="tag is-small is-dark-blue">Nouveau</span>
      <span class="tag is-small is-orange">En cours</span>
      <span class="tag is-small is-red">Terminé</span>
      <br />
      <br />
      <span class="tag is-medium is-blue">Jours</span>
      <span class="tag is-medium is-dark-blue">Heurs</span>
      <span class="tag is-medium is-orange">Mois</span>
      <span class="tag is-medium is-red">Heurs</span>
      <br />
      <br />
      <br />
      <span class="tag is-large is-blue">Whoa</span>
      <span class="tag is-large is-dark-blue">Cool</span>
      <span class="tag is-large is-orange">Dude</span>
      <span class="tag is-large is-red">Cool</span>
      <br />
      <br />
      <br />
      <span class="tag is-rounded is-large is-blue">
        <i class="ri-file-list-line"></i>
      </span>
      <span class="tag is-rounded is-large is-dark-blue">
        <i class="ri-star-line"></i>
      </span>
      <span class="tag is-rounded is-large is-orange">
        <i class="ri-mail-line"></i>
      </span>
      <span class="tag is-rounded is-large is-red">
        <i class="ri-star-line"></i>
      </span>
    </main>
  </body>
</html>
