$white: #fff;
$athens-gray: #eff0f3;
$waterloo: #7f8394;
$blue-haze: #eff0f3;
$dodger-blue: #49b8ff;
$corn-flower-blue: #506ef0;
$chambray: #364481;
$radical-red: #f62b50;
$orange: #ff8c56;
$mountain-meadow: #1ee298;

$color-primary: $corn-flower-blue;

$transition-time: 0.5s;
