@import './variables';
@import './reset';
@import './fonts';
@import './modifiers';
@import './components/layouts';
@import './components/buttons';
@import './components/cards';
@import './components/forms';
@import './components/navs';
@import './components/table';
@import './components/tags';
@import './components/typography';
@import './components/stepper';
@import './tstheme';
@import '~remixicon/fonts/remixicon.css';
@import '~flag-icon-css/css/flag-icon.min.css';
@import '~tom-select/dist/css/tom-select.default.css';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/dist/svg-arrow.css';

html {
  font-size: 62.5%;
}

body {
  background-color: $blue-haze;
  font-size: 1.6rem;
}

p {
  color: $waterloo;
}