.has-icon-left {
  .input,
  .button {
    padding-left: 4rem !important;
  }

  .icon.is-small {
    margin-bottom: 4px;
    margin-left: -29.4rem;
  }
}

.icon {
  display: inline-flex;
  vertical-align: middle;

  &.is-arrow { 
    i {
      margin: 0;
    }
    &.rotate-right i {
      transform: rotate(90deg);
    }
    &.rotate-left i {
      transform: rotate(-90deg);
    }
  }

  &.is-small {
    padding: 0.5rem 0.2rem;
    font-size: 2rem;
  }

  &.is-large {
    font-size: 3rem;
  }
}

.card-content.is-hidden {
  overflow: hidden;
  height: 0;
  margin: 0 !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.tippy-box[data-theme~='light-tooltip'] {
  border: 0.1rem solid $border-gray;
  background: $white;
  color: $dark-blue;
}

.tippy-box[data-theme~='light-tooltip'] > .tippy-svg-arrow > svg:first-child {
  fill: $border-gray;
}

/* The fill */
.tippy-box[data-theme~='light-tooltip'] > .tippy-svg-arrow > svg:last-child {
  fill: $white;
}