@import "./tools/reset";
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/modifiers";
@import "./basic/typography";
@import "./basic/icons";
@import "./modules/buttons";
@import "./modules/cards";
@import "./modules/forms";
@import "./modules/layouts";
@import "./modules/navs";
@import "./modules/stepper";
@import "./modules/table";
@import "./modules/tags";
@import "./tools/tstheme";

@import "remixicon/fonts/remixicon.css";
@import "flag-icon-css/css/flag-icon.min.css";
@import "tom-select/dist/css/tom-select.bootstrap5.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/dist/border.css";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
body.theme--default {
  background-color: $light-gray;
}
body.theme--dark {
  background-color: $black;
}

.theme--default p {
  color: $gray;
}
.theme--dark p {
  color: $light-gray-2;
}
