#language-select + .ts-control,
#nav-menu-language-select + .ts-control {
  display: inline-flex;
  width: 15rem !important;
  align-items: center;
  background: transparent;

  .ts-input {
    background: transparent !important;
    box-shadow: none !important;
    @include themed() {
      border: 0.2rem solid t($forward-background) !important;
    }
  }
  .ts-input.dropdown-active {
    @include themed() {
      border: 0.2rem solid t($background) !important;
    }
  }
  .ts-input.dropdown-active::before {
    background: none;
  }

  .ts-dropdown {
    border-top: 0;
    @include themed() {
      border: 0.2rem solid t($background);
    }
  }
  .language-option {
    @include themed() {
      background-color: t($forward-background);
    }
  }
}

.language-option {
  font-size: 1.6rem;
  @include themed() {
    color: t($navbar-text);
  }

  span:first-child {
    margin-right: 1rem;
  }
}
