.ts-control {
  display: inline-flex;
  width: 15rem !important;
  align-items: center;
  background: transparent;

  .ts-input {
    border: 0.2rem solid $white !important;
    background: transparent !important;
    box-shadow: none !important;

    &.dropdown-active {
      border: 0.2rem solid $blue-haze !important;
    }
  }

  .ts-dropdown {
    border: 0.2rem solid $blue-haze;
    border-top: 0;
  }
}

.language-option {
  font-size: 1.8rem;

  span:first-child {
    margin-right: 1rem;
  }
}
